<section class="line-content" *ngIf="fullyLoaded">
  <div class="present-text">
    <span>{{task.name}}</span>
  </div>
  <div class="subtitle-text">
    <p *ngFor="let q of currentQuestionSlots">
      <span>{{q.english}}</span>
    </p>
  </div>
  <div>
    <input class="answer-input"
           [(ngModel)]="studentAnswer"
           autocorrect="off"
           autocomplete="off"
           autocapitalize="off"
           type="text" />
  </div>
  <br />
  <app-standard-button
    (click)="checkAnswer()">Check Answer</app-standard-button>
  <div *ngIf="isSubmitted && isCorrect">
    <p>You are correct!</p>
    <app-standard-button *ngIf="successesEarned < successesRequired"
                         (click)="initializeQuestion()">Next Question</app-standard-button>
    <p>{{successesEarned}} of {{successesRequired}}</p>
    <app-standard-button
      *ngIf="successesEarned >= successesRequired"
      (click)="onDismissTask()">Next</app-standard-button>
  </div>
  <div *ngIf="isSubmitted && !isCorrect">
    <p *ngFor="let feedback of currentQuestionFeedback">
      {{feedback}}
    </p>
  </div>
</section>
<section class="line-content" *ngIf="!fullyLoaded">
  <p>Loading task... ({{loaded}} of {{toLoad}})</p>
</section>
