<section class="line-content" *ngIf="line.vocab">
  <div class="example-target present-text"
       [@primaryTextAnimationState]="textAnimationState">
    <span *ngIf="targetTextElements">
      <span *ngFor="let el of targetTextElements"
            [class.clickable]="el.clickable"
            (click)="onClickChildVocab(el.vocabRef)">{{el.text}}</span>
    </span>
    <span *ngIf="targetTextElements.length < 1">
      {{line.vocab.target}}
    </span>
  </div>
  <div class="example-target subtitle-text"
       [@secondaryTextAnimationState]="textAnimationState">
    <span>{{line.vocab.targetKana}}</span>
  </div>
  <div class="example-target subtitle-text"
       [@secondaryTextAnimationState]="textAnimationState">
    <span>{{line.vocab.targetRomanization}}</span>
  </div>
  <div class="present-text"
       [@secondaryTextAnimationState]="textAnimationState">
    <span>{{line.vocab.english}}</span>
  </div>
  <br />
  <app-standard-button (click)="animateOut()">Next</app-standard-button>
</section>
