<section *ngIf="vocab">
  <div class="exampleTarget present-text"
       [@primaryTextState]="animationState">
    <span *ngIf="targetTextElements">
      <span *ngFor="let el of targetTextElements" [class.clickable]="el.clickable">
        {{el.text}}
      </span>
    </span>
  </div>
  <div class="exampleTarget subtitle-text"
       [@secondaryTextState]="animationState">
    <span>{{vocab.targetKana}}</span>
  </div>
  <div class="exampleTarget subtitle-text"
       [@secondaryTextState]="animationState">
    <span>{{vocab.targetRomanization}}</span>
  </div>
  <div class="exampleEnglish present-text"
       [@secondaryTextState]="animationState">
    <span>{{vocab.english}}</span>
  </div>
  <br />
  <button mat-raised-button
          color="primary"
          (click)="animateOut()"
          [@buttonState]="animationState">Next</button>
</section>
