.present-text {
  font-size: 50px;
  font-weight: bold;
  margin: 35px 0 50px 0;
}

.subtitle-text {
  font-size: 18px;
  line-height: 24px;
  padding: 0 100px;
}

app-standard-button {
  position: absolute;
  top: 425px;
  left: 0;
  width: 100%;
}
