<app-player [content]="playerContent"></app-player>
<!--
<section class="mat-typography frame" fxLayout="column" fxLayoutAlign="center center">
  <div class="title-frame" *ngIf="selectedLesson && titleDismissed === false">
    <button
      class="back-button"
      mat-icon-button
      fxFlexAlign="end end"
      routerLink="../"><mat-icon>arrow_back</mat-icon></button>
    <section class="title-content">
      <h2 class="lesson-title">{{selectedLesson.name}}</h2>
      <p class="lesson-objective">In this lesson you will learn about polite verbs in Japanese.</p>
      <button class="begin-lesson-button" (click)="titleDismissed = true">Begin Lesson</button>
      <div class="illustration"><img src='../../assets/waddling-duck.png'></div>
    </section>
  </div>
  <div class="lesson-frame" *ngIf="selectedLesson && titleDismissed" fxLayout="column">
    <button
      class="previous-line-button"
      mat-icon-button
      fxFlexAlign="end end"
      routerLink="../"><mat-icon>arrow_back</mat-icon></button>
    <section class="lesson-content">
      <app-player-play-line-explanation
        *ngIf="currentLine.type == 'Explanation'"
        [(line)]="currentLine"
        (dismissLine)="onLineDismissed($event)"></app-player-play-line-explanation>
      <app-player-play-line-example
        *ngIf="currentLine.type == 'Example'"
        [(line)]="currentLine"
        (dismissLine)="onLineDismissed($event)"></app-player-play-line-example>
      <app-player-play-line-question-mc
        *ngIf="currentLine.type == 'Multiple Choice'"
        [(line)]="currentLine"
        (dismissLine)="onLineDismissed($event)"></app-player-play-line-question-mc>
      <app-player-play-line-free-answer
        *ngIf="currentLine.type == 'Free Answer'"
        [(line)]="currentLine"
        [currentLineIndex]="currentLineIndex"
        (dismissLine)="onLineDismissed($event)"></app-player-play-line-free-answer>
    </section>
    <section class="push-down"></section>
    <section class="progress-bar-section" fxLayoutAlign="end">
      <mat-progress-bar
        class="example-margin"
        [color]="'primary'"
        [mode]="'determinate'"
        [value]="((currentLineIndex + 1) / totalLines) * 100">
      </mat-progress-bar>
    </section>
  </div>
  <div *ngIf="!selectedLesson">
    <mat-spinner></mat-spinner>
  </div>
</section>
-->
