<section class="mat-typography">
  <h2 class="subheading-1">
    <span *ngIf="selectedLesson">{{selectedLesson.name}}</span><span *ngIf="!selectedLesson">Loading...</span>
  </h2>
  <div *ngIf="selectedLesson">
    <mat-form-field>
      <input type="text" matInput placeholder="Edit Name" [(ngModel)]="selectedLesson.name" name="lessonName">
    </mat-form-field>
    <app-line-list></app-line-list>
    <br>
    <div class="button-row">
      <button mat-raised-button color="primary" routerLink="preview">Preview</button>
      <button mat-raised-button color="accent" (click)="onSave()">Save</button>
      <button mat-raised-button color="warn" (click)="onDelete()">Delete</button>
    </div>
  </div>
  <div *ngIf="!selectedLesson">
    <mat-spinner></mat-spinner>
  </div>
</section>
