<section class="line-content" *ngIf="fullyLoaded">
  <div class="present-text">
    <span>{{lesson.name}}</span>
  </div>
  <div class="subtitle-text" *ngIf="currentVocabulary">
    <p>Get each word correct {{requiredSuccessesPerVocab}} times to continue</p>
    <p>Enter the romaji for the following English word.</p>
    <p>
      <span>{{currentVocabulary.english}}</span>
    </p>
  </div>
  <div>
    <input class="answer-input"
           [(ngModel)]="studentAnswer"
           (keyup.enter)="handleEnterPress()"
           autocorrect="off"
           autocomplete="off"
           autocapitalize="off"
           type="text" />
  </div>
  <app-standard-button *ngIf="!isSubmitted"
    (click)="checkAnswer()">Check Answer</app-standard-button>
  <div *ngIf="isSubmitted && isCorrect">
    <p>You are correct! ({{lessonVocabulary[currentIndex].successes}} of {{requiredSuccessesPerVocab}})</p>
    <app-standard-button (click)="chooseNewVocabulary()">Next Question</app-standard-button>
  </div>
  <div *ngIf="isSubmitted && !isCorrect">
    <p>Oops, you're wrong. The correct answer is "{{currentVocabulary.targetRomanization}}."</p>
    <app-standard-button (click)="chooseNewVocabulary()">Continue</app-standard-button>
  </div>
</section>
<section class="line-content" *ngIf="!fullyLoaded">
  <p>Loading quiz... ({{loaded}} of {{toLoad}})</p>
</section>
