<section class="line-content" *ngIf="taskVocabulary">
  <div class="present-text">
    <span>{{task.name}}</span>
  </div>
  <div class="subtitle-text">
    <p *ngFor="let q of currentQuestion">
      <span>{{q.english}}</span>
    </p>
  </div>
  <div>
    <input class="answer-input"
           [(ngModel)]="studentAnswer"
           (keyup)="evaluateStudentAnswer()"
           type="text" />
  </div>
  <app-standard-button (click)="onDismissTask()">Next</app-standard-button>
  <app-standard-button (click)="initializeQuestion()">Generate New Question</app-standard-button>
  <p>{{isCorrect | json}}</p>
</section>
Load Progress: {{loaded}} / {{toLoad}}

<section class="line-content" *ngIf="!taskVocabulary">
  <p>Loading task...</p>
  <mat-spinner></mat-spinner>
</section>
