<header class="main-header">
  <div class="main-header__logo">
    <i class="material-icons main-header__logo__icon">directions_run</i>
    <a class="main-header__logo__text" routerLink="">Skeebo</a>
  </div>
  <nav *ngIf="isAuth" class="main-nav">
    <ul class="main-nav__items">
      <li class="main-nav__item"><a routerLink="">Next</a></li>
      <li class="main-nav__item"><a routerLink="">Mission</a></li>
      <li class="main-nav__item"><a routerLink="">Progress</a></li>
      <li class="main-nav__item" *ngIf="isAdmin"><a routerLink="admin">Admin</a></li>
      <li class="main-nav__item"><a routerLink="" (click)="onLogout()">Log out</a></li>
    </ul>
  </nav>
  <span *ngIf="isAuth" class="main-nav__reviews">0 Reviews Ready</span>
  <nav *ngIf="!isAuth" class="main-nav">
    <ul class="main-nav__items">
      <li class="main-nav__item"><a routerLink="/signup">Sign up</a></li>
      <li class="main-nav__item"><a routerLink="/login">Log in</a></li>
    </ul>
  </nav>
</header>
