<section class="task-list" *ngIf="selectedTask">
  <div class="section-header">
    {{selectedTask.name}}
  </div>
  <div class="section-content">
    <mat-form-field>
      <input type="text" matInput placeholder="Name" [(ngModel)]="selectedTask.name" name="taskName">
    </mat-form-field>
    <div>
      <p class="pattern-preview" *ngIf="selectedTask.pattern">
        <span *ngFor="let patternItem of selectedTask.pattern">
          <span *ngIf="patternItem.type === 'Slot'" class="slot">{{patternItem.slotName}}</span>
          <span *ngIf="patternItem.type === 'Static'" class="static">STATIC</span>
        </span>
      </p>
    </div>
    <div class="pattern-editor">
      <p>Pattern</p>
      <div *ngIf="selectedTask.pattern">
        <app-admin-edit-pattern-item *ngFor="let pattern of selectedTask.pattern" [patternItem]="pattern"></app-admin-edit-pattern-item>
      </div>
      <button
        mat-raised-button
        color="primary"
        type="button"
        (click)="addPatternItem()">Add Pattern Item</button>
    </div>
    <div *ngIf="lessonList">
      Lessons
      <div *ngFor="let lessonId of selectedTask.lessons; let i = index" class="line-container">
        <div class="line-options">
          <span>❎</span>
        </div>
        <div class="line-number">{{i + 1}} </div>
        <div class="line-content">
          <span class="line-type">{{lessonForId(lessonId).name}}</span>
        </div>
      </div>
      <br>
      <div class="button-row">
        <mat-form-field>
          <mat-select placeholder="Add a Lesson" [(value)]="selectedLessonId">
            <mat-option *ngFor="let lesson of lessonList" [value]="lesson.id">
              {{lesson.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-mini-fab color="primary" (click)="addLessonToTask()">+</button>
      </div>
    </div>
  </div>
</section>
