<section class="add-lesson-form mat-typography" fxLayout="column" fxLayoutAlign="center center">
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <h4 mat-subheader>Add Lesson</h4>
    <mat-form-field>
      <input type="text" matInput placeholder="Name" ngModel name="name">
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Type" ngModel name="type">
        <mat-option *ngFor="let type of possibleLessonTypes" [value]="type">
          {{ type }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary">Create Lesson</button>
    <button mat-raised-button color="warn" routerLink="/lessons">Cancel</button>
  </form>
</section>
