<div class="parent">
  <section class="objective-list" *ngIf="selectedObjective">
    <div class="section-header">
      <p>{{selectedObjective.name}}</p>
    </div>
    <div class="section-content">
      <mat-form-field>
        <input type="text" matInput placeholder="Name" [(ngModel)]="selectedObjective.name" name="objectiveName">
      </mat-form-field>
      <div *ngFor="let level of selectedObjective.levels">
        <app-manage-level-list [level]="level"></app-manage-level-list>
      </div>
    </div>
  </section>
  <section *ngIf="!selectedObjective">
    <mat-spinner></mat-spinner>
  </section>
  <router-outlet></router-outlet>
</div>
