.present-text {
  font-size: 36px;
  margin: 40px;
}

.subtitle-text {
  font-size: 18px;
  padding: 0px 100px;
}

.question-option {
  margin: 10px;
}

.line-content {
  position: relative;
  height: 300px;
}
