.line-content {
  text-align: left;
}

.lesson-title {
  margin: 50px 100px 30px 100px;
  font-size: 60px;
  line-height: 1.1em;
}

.lesson-subtitle {
  margin: 0 100px 50px 100px;
  font-size: 18px;
}

.start-lesson-btn {
  margin: 0 80px 50px 100px;
  border: none;
  padding: 20px 35px;
  font-size: 20px;
  color: white;
  background-color: #1c0b6d;
  border-radius: 35px;
  cursor: pointer;
}

