<section class="create-form mat-typography">
  <a mat-raised-button routerLink="..">Return to Lesson</a>
  <form fxLayout="column" #f="ngForm" (ngSubmit)="onSubmit(f)">
    <h3>Add Lesson</h3>
    <mat-form-field>
      <mat-select placeholder="Type" ngModel name="type" [(value)]="selectedLineType">
        <mat-option *ngFor="let type of possibleLineTypes" [value]="type">
          {{ type }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <app-line-editor [newLineType]="selectedLineType"></app-line-editor>
    <button mat-raised-button color="primary" type="submit">Create Line</button>
    <br>
    <button mat-raised-button color="warn" routerLink="..">Cancel</button>
  </form>
</section>
