<section class="create-form mat-typography">
  <a mat-raised-button routerLink="..">Return to Lesson</a>
  <form fxLayout="column" #f="ngForm" (ngSubmit)="onSubmit(f)">
    <h3>Add Lesson</h3>
    <mat-form-field>
      <mat-select placeholder="Type" ngModel name="type" [(value)]="selectedLineType">
        <mat-option *ngFor="let type of possibleLineTypes" [value]="type">
          {{ type }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="selectedLineType=='Explanation'">
      <input type="text" matInput placeholder="Video Script" ngModel name="scriptVideo">
    </mat-form-field>
    <mat-form-field *ngIf="selectedLineType=='Explanation'">
      <input type="text" matInput placeholder="Audio Script" ngModel name="scriptAudio">
    </mat-form-field>
    <div *ngIf="selectedLineType=='Explanation'">
      <input type="file" placeholder="MP3 File" name="audioMp3" id="audioMp3" (change)="fileEvent($event)">
    </div>
    <mat-form-field *ngIf="selectedLineType=='Example'">
      <input type="text" matInput placeholder="Target" ngModel name="exampleTarget">
    </mat-form-field>
    <mat-form-field *ngIf="selectedLineType=='Example'">
      <input type="text" matInput placeholder="Kana" ngModel name="exampleKana">
    </mat-form-field>
    <mat-form-field *ngIf="selectedLineType=='Example'">
      <input type="text" matInput placeholder="Romanization" ngModel name="exampleRomanization">
    </mat-form-field>
    <mat-form-field *ngIf="selectedLineType=='Example'">
      <input type="text" matInput placeholder="English" ngModel name="exampleEnglish">
    </mat-form-field>
    <mat-form-field *ngIf="selectedLineType=='Multiple Choice'">
      <input type="text" matInput placeholder="Question" ngModel name="mcQuestion">
    </mat-form-field>
    <mat-form-field *ngIf="selectedLineType=='Multiple Choice'">
      <input type="text" matInput placeholder="Correct Answer" ngModel name="mcAnswerCorrect">
    </mat-form-field>
    <mat-form-field *ngIf="selectedLineType=='Multiple Choice'">
      <input type="text" matInput placeholder="Incorrect Answer 1" ngModel name="mcAnswerIncorrect1">
    </mat-form-field>
    <mat-form-field *ngIf="selectedLineType=='Multiple Choice'">
      <input type="text" matInput placeholder="Incorrect Answer 2" ngModel name="mcAnswerIncorrect2">
    </mat-form-field>
    <mat-form-field *ngIf="selectedLineType=='Multiple Choice'">
      <input type="text" matInput placeholder="Incorrect Answer 3" ngModel name="mcAnswerIncorrect3">
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Create Line</button>
    <br>
    <button mat-raised-button color="warn" routerLink="..">Cancel</button>
  </form>
</section>
