<section class="mat-typography vocab-details">
  <div>
    <label for="target">Target:
      <input type="text" name="target" id="target" [(ngModel)]="selectedVocab.target" />
    </label>
  </div>
  <div>
    <label for="targetKana">Target (Kana):
      <input type="text" name="targetKana" id="targetKana" [(ngModel)]="selectedVocab.targetKana" />
    </label>
  </div>
  <div>
    <label for="targetRomanization">Target (Romanization):
      <input type="text" name="targetRomanization" id="targetRomanization" [(ngModel)]="selectedVocab.targetRomanization" />
    </label>
  </div>
  <div>
    <label for="english">English:
      <input type="text" name="english" id="english" [(ngModel)]="selectedVocab.english" />
    </label>
  </div>
</section>
