<section class="edit-vocab-form mat-typography" fxLayout="column" fxLayoutAlign="center center">
  <form #f="ngForm">
    <h4 mat-subheader>Edit Vocabulary</h4>
    <mat-form-field>
      <input type="text"
             matInput
             placeholder="Target"
             [(ngModel)]="selectedVocab.target"
             name="target">
    </mat-form-field>
    <mat-form-field>
      <input type="text"
             matInput
             placeholder="Target (Kana)"
             [(ngModel)]="selectedVocab.targetKana"
             name="targetKana">
    </mat-form-field>
    <mat-form-field>
      <input type="text"
             matInput
             placeholder="Target (Romanization)"
             [(ngModel)]="selectedVocab.targetRomanization"
             name="targetRomanization">
    </mat-form-field>
    <mat-form-field>
      <input type="text"
             matInput
             placeholder="English"
             [(ngModel)]="selectedVocab.english"
             name="english">
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="onUpdate()">Update Vocabulary</button>
    <button mat-raised-button color="link" routerLink="vocabulary">Cancel</button>
    <button mat-raised-button color="warn" (click)="onDelete()">Delete</button>
  </form>
</section>
