.example-target {
  font-family: 'Noto Sans Japanese', sans-serif;
}

.present-text {
  font-size: 36px;
  margin: 40px;
}

.clickable {
  border-bottom: 1px #00aced dotted;
  color: #00aced;
  font-weight: bold;
  cursor: pointer;
}

app-standard-button {
  position: absolute;
  top: 425px;
  left: 0;
  width: 100%;
}
