<section class="mat-typography">
  <a mat-button routerLink="../">Return to Lesson</a>
  <mat-card class="lesson-card">
    <mat-card-content>
      <mat-card-title>{{currentLesson.name}}</mat-card-title>
      <mat-card-subtitle>{{currentLesson.type}}</mat-card-subtitle>

      <section class="lesson-content">
        <section *ngIf="currentLine.type == 'Explanation'" id="explanationPresent">
          <div class="videoScript present-text" [@transitionPresentTextState]="isTransitioningBetweenLines">
            <span>{{currentLine.explanationVideoScript}}</span>
          </div>
          <div class="audioScript subtitle-text">
            <span>{{currentLine.explanationAudioScript}}</span>
          </div>
        </section>
        <section *ngIf="currentLine.type == 'Example'" id="examplePresent">
          <div class="exampleTarget present-text" [@transitionPresentTextState]="isTransitioningBetweenLines">
            <span>{{currentLine.exampleTarget}}</span>
          </div>
          <div class="exampleTarget subtitle-text">
            <span>{{currentLine.exampleKana}}</span>
          </div>
          <div class="exampleTarget subtitle-text">
            <span>{{currentLine.exampleRomanization}}</span>
          </div>
          <div class="exampleEnglish present-text" [@transitionPresentTextState]="isTransitioningBetweenLines">
            <span>{{currentLine.exampleEnglish}}</span>
          </div>
        </section>
        <section *ngIf="currentLine.type == 'Multiple Choice'" id="mcPresent">
          <div class="present-text" [@transitionPresentTextState]="isTransitioningBetweenLines">
            <span>{{currentLine.mcQuestion}}</span>
          </div>
          <div class="options">
            <button *ngFor="let option of mcOptions"
                    mat-raised-button
                    class="question-option"
                    [disabled]="option.selected"
                    (click)="onClickOption(option)"
                    color="primary">{{option.text}}</button>
          </div>
        </section>

      </section>

      <section class="progress-bar-section">
        <mat-progress-bar
          class="example-margin"
          [color]="'primary'"
          [mode]="'determinate'"
          [value]="((currentLineIndex + 1) / totalLines) * 100">
        </mat-progress-bar>
      </section>

      <mat-card-actions>
        <button mat-button (click)="transitionToLine(currentLineIndex - 1)" [disabled]="currentLineIndex == 0">PREVIOUS</button>
        <button mat-button
                (click)="transitionToLine(currentLineIndex + 1)"
                [disabled]="currentLineIndex == (totalLines - 1) || preventAdvance">NEXT</button>
      </mat-card-actions>

    </mat-card-content>
  </mat-card>
</section>
