.frame {
  margin: 0px;
}

.lesson-frame {
  width: 100%;
  height: 400px;
  margin: 0px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.present-text {
  font-size: 24px;
  margin: 20px;
}

.question-option {
  margin: 10px;
}

.push-down {
  height: 100%;
}
